* {
    box-sizing: border-box;
}

.container {
    position: absolute;
    right: 0; left: 0;
    height: 40px;
    margin: auto;
    text-align: center;
}

.switch input {
    position: absolute;
    opacity: 0;
}

.switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 2em;
    width: 4em;
    background: #3D3939;
    border-radius: 1em;
}

.switch div {
    height: 2em;
    width: 2em;
    border-radius: 2em;
    background: #FFF9F9;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
            transition: all 300ms;
}

.switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}

body {
    width: 100vw;
    height: 100vh;
}

#greeting {
    font-family: Raleway, sans-serif;
    font-weight: light;
    font-size: 20pt;
    text-align: center;
}

.about {
    position: absolute;
    top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.accordion {
    border: none;
    background-color: #C4C4C4;
    cursor: pointer;
    font-family: Raleway, sans-serif;
    font-weight: light;
    font-size: 15pt;
    color: #333333;
    margin: 10px;
    margin-bottom: 0%;
    padding: 5px 0px;
    width: 30vw;
}

.panel {
    padding: 5px 0px;
    margin: auto;
    margin-top: 0%;
    background-color: #FFFFFF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 30vw;
    font-family: Raleway, sans-serif;
    font-size: 15pt;
    color: black;
    text-align: center;
    font-weight: light;
}

/**
* morning theme
*/

.morning {
    background-image: url("light.png");
    background-size: cover;
}

.morning #greeting {
    color: #000000;
}

.morning .one {
    background-color: #C4C4C4;
}

.morning .oneacc {
    color: #C4C4C4;
}

.morning .two {
    background-color: #C4C4C4;
}

.morning .twoacc {
    color: #C4C4C4;
}

.morning .three {
    background-color: #C4C4C4;
    color: #333;
}

.morning .threeacc {
    color: #C4C4C4;
}

/**
* sunset theme
*/

.sunset {
    background-image: url("dark.png");
    background-size: cover;
}

.sunset #greeting {
    color: white;
}

.sunset .one {
    background-color: #FFF9F9;
}

.sunset .oneacc {
    color: #FFF9F9;
}

.sunset .two {
    background-color: #FFF9F9;
}

.sunset .twoacc {
    color: #FFF9F9;
}

.sunset .three {
    background-color: #FFF9F9;
}

.sunset .threeacc {
    color: #FFF9F9;
}
