<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>story 7</title>
</head>
<body class="morning">
<p id="greeting">hi, glad to see u again</p>
<div class="container">
    <label class="switch"><input type="checkbox" /><div></div></label>
</div>

<div class="about">
    <button class="accordion">current activities</button>
    <div class="panel one">
        <p>sleep</p>
    </div>
    <br>
    <button class="accordion">experiences</button>
    <div class="panel two">
        <p>public relation at Open House 2018</p>
        <p>decoration at CGT</p>
        <p>seminar at Educare</p>
        <p>playground at COMPFEST 11</p>
        <p>LO at Wisgen 2019</p>
        <p>LO at Open House 2019</p>
        <p>public relation at RISTEK </p>
    </div>
    <br>
    <button class="accordion">achievements</button>
    <div class="panel three">
        <p> :( </p>
    </div>
</div>

<script src="{% static 'js/theme.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
</body>
</html>
